<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>hey!!! 
   </p>
    <h3>
    Your Restaurant :<%=@restaurant.Restaurant_name%> is suucessfully registered with us.<br>it's yet to be approved by admin.
    </h3>
    <p>
    </p>
   
  <br>

    </p>
    
  </body>
</html>